[x] create problem set page showing all problems in a set
[x] create page showing all problem sets, linked by EXPLORE buttons
[x] show all problem sets in page by name and author
[ ] filter by author function