<footer>

    <div class="foot-section">
        <h3>SUPPORT</h3>
        <a href="#">Documentation</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="foot-section">
        <h3>NAVIGATION</h3>
        <a href="#">Problem Sets</a>
        <a href="#">Account</a>
        <a href="#">Submissions</a>
    </div>

    <div class="foot-section">
        <h3>LEGAL</h3>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
    </div>

    <div class="foot-bottom">
        NULL POINTER ARENA 2026
    </div>

</footer>