<section class="problems">
    <h2>PROBLEMS</h2>
    <div class="problem_list">
        {% for prob in problems|slice:":6" %}
            <article class="problem">
                <div class="problem-header">
                    <span class="problem-id">
                        {{ prob.id }}
                    </span>
                    <h3 class="problem-name">
                        {{ prob.name }}
                    </h3>
                    <span class="problem-diff">
                        {{ prob.difficulty }}
                    </span>
                </div>
                <p class="problem-description">{{ prob.description }}</p>
                <div class="problem-action">
                    <a href="{% url 'problem' prob.id %}" class="solve-button">
                        SOLVE →
                    </a>
                </div>
            </article>
        {% empty %}
            <p>No problems available</p>
        {% endfor %}
    </div>
</section>