
<div class="layout">
    {% include "arena/partials/sidebar.html" %}
    <main class="content">
        <h2>Welcome {{ user.username }}</h2>

        <h3>Submissions</h3>
        {% if submissions %}
        <table>
            <thead>
                <tr><th>Problem</th><th>Result</th><th>Submitted</th></tr>
            </thead>
            <tbody>
                {% for submit in submissions %}
                <tr>
                    <td>{{ submit.problem.name }}</td>
                    <td>
                        {% if submit.passed %}
                        <span class="green-text-strong">PASSED</span>
                        {% else %}
                        <span class="red-text-strong">FAILED</span>
                        {% endif %}
                    </td>
                    <td>{{ submit.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p>No Submissions yet</p>
        {% endif %}
    </main>
</div>
