<!DOCTYPE html>
<html>
<head>
    <title>NullPtrArena - Home</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <header class="top-bar">
        <div class="brand">
            <img src="https://placecats.com/80/80" />
            <h1>NullPtrArena</h1>
            <p>
                A code problem solving and testing web application built using django.
            </p>
        </div>
        <nav>
            <a href="#">EXPLORE</a>
            <a href="#">CREATE</a>
            <a href="#">ACCOUNT</a>
        </nav>
    </header>
    <div class="layout">
        <div class="sidebar-title">
            <ul id="problemlistA">
                <li class="list-prob"><a href="#">test double</a></li>
                <li class="list-prob"><a href="#">nope</a></li>
                <li class="list-prob"><a href="#">nothing here yet</a></li>
                <li class="list-prob"><a href="#">man this will be so cool when its done</a></li>
            </ul>
        </div>
        <main>
            <img src="https://placecats.com/900/400" />
            <img src="https://placecats.com/460/400" />
            <img src="https://placecats.com/440/400" />
        </main>
    </div>
    <footer>
        <div class="foot-left">
            <h3>SUPPORT</h3>
            <a href="#">Documentation</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="foot-middle">
            <h3>NAVIGATION</h3>
            <a href="#">Problem Sets</a>
            <a href="#">Account</a>
            <a href="#">Submissions</a>
        </div>
        <div class="foot-right">
            <h3>LEGAL</h3>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
        </div>
        <div class="foot-bottom">
            NULL POINTER ARENA 2026
        </div>
    </footer>
</body>
