{% extends "arena/base.html" %}

{% block title %}
    NullPtrArena - Home
{% endblock %}

{% block content %}

<div class="layout">

    {% include "arena/partials/sidebar.html" %}

    <main class="content">

        <section class="hero">

            <p class="system-message">
                SYSTEM READY
            </p>

            <h1 class="hero-text">
                NullPtrArena
            </h1>

            <p class="hero-text">
                A code problem solving and testing web application
                built using Django.
            </p>

            <div class="hero-buttons">
                <a href="#">EXPLORE PROBLEMS</a>
                <a href="#">CREATE PROBLEMS</a>
                <a href="#">SANDBOX</a>
            </div>

        </section>

        {% include "arena/partials/problem_list.html" %}

    </main>

</div>

{% endblock %}