{% extends "arena/base.html" %}

{% block title %}
    NullPtrArena - Login
{% endblock %}

{% block content %}

<div class="layout">

    <main class="login-main">
        <div class="login-box">
            <div class="brand">
            <span class="terminal-symbol">&gt;_</span>
            <span>LOGIN</span>
            </div>
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="form-control">
                    <label for="emailInput1" class="form-label">
                        Email Address
                    </label>
                    <input type="email"  
                           class="form-input" 
                           id="emailInput1" 
                           aria-describedby="email-help" 
                           required="required" />
                    <div id="email-help" class="form-text">
                        We'll never share your email with anyone else
                    </div>
                </div>

                <div class="form-control">
                    <label for="passInput1" class="form-label">
                        Password
                    </label>
                    <input type="password"  
                           class="form-input" 
                           id="passInput1" 
                           aria-describedby="pass-help"
                           required="required" />
                    <div id="pass-help" class="form-text">
                        secured by Django
                    </div>
                </div>

                <button type="submit" class="login-button">LOGIN</button>

            </form>
        </div>
    </main>

</div>

{% endblock %}