{% extends "arena/base.html" %}

{% block title %}
    NullPtrArena - {{ problem_set.name }}
{% endblock %}

{% block content %}

<div class="layout">

    {% include "arena/partials/sidebar.html" %}

    <main class="content">
        <h2>{{ problem_set.name }}</h2>
        {% if prooblems %}
        <table>
            <thead>
                <tr><th>Problem</th><th>Difficulty</th><th>Completed</th></tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                <tr>
                    <td>{{ problem.name }}</td>
                    <td>
                        {{ problem.difficulty }}
                    </td>
                    <td> Not Yet Functional </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>

</div>

{% endblock %}