{% extends "arena/base.html" %}

{% block title %}
    NullPtrArena - Problem Sets
{% endblock %}

{% block content %}

<div class="layout">

    {% include "arena/partials/sidebar.html" %}

    <main class="content">
        <h2>PROBLEM SETS</h2>
        <table>
            <thead>
                <tr><th>Set</th><th>Author</th><th>Description</th><th>Number of Problems</th></tr>
            </thead>
            <tbody>
                {% for set in problem_sets %}
                <tr>
                    <td>{{ set.name }}</td>
                    <td>{{ set.author.username }}</td>
                    <td>{{ set.description }}</td>
                    <td> 100 </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</div>

{% endblock %}