<!DOCTYPE html>
<html>
<head>
    <title>NullPtrArena</title>
</head>
<body>
    <h1>Double Input</h1>
    <p>Write a program that accepts an integer as input and outputs the double of that integer.</p>

    <form method="post">
        {% csrf_token %}
        <textarea 
            name="editor"
            id="editor_el"
            rows="12"
            cols="80"
            placeholder="write your program here"></textarea><br />
        <label for="language">Language: </label>
        <select name="language">
            <option value="python">Python</option>
            <option value="cpp">c++</option>
            <option value="java">Java</option>
        </select>
        <button>Submit Code</button>
    </form>
    <h2>Output</h2>
    <pre id="output">{{ output }}</pre>
</body>
</html>