<!DOCTYPE html>
<html>
<head>
    <title>NullPtrArena</title>
</head>
<body>
    <h1>Problem Hello</h1>
    <p>Write a program that prints "Hello World!"</p>

    <form>
        <textarea 
            name="editor"
            id="editor_el"
            rows="12"
            cols="80"
            placeholder="print('Hello World!')"></textarea><br />
        <label for="language">Language: </label>
        <select name="language">
            <option>Python</option>
            <option>c++</option>
            <option>Java</option>
        </select>
        <button>Submit Code</button>
    </form>
</body>
</html>