* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;

    background: #11130f;
    color: #d6d2b8;

    font-family: "Courier New", Courier, monospace;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    text-shadow: 0 0 8px rgba(243, 188, 122, 0.5);
}

.topbar {
    height: 3em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 32px;

    background: #42493a;
    border-bottom: 2px solid #555746;

    box-shadow: 0 2px 0 #080908;
}

.topbar p {
    font-size: small;
}

.brand {
    display: flex;
    align-items: center;
    gap: 14px;

    color: #d8a84e;
    text-shadow: 0 0 1px #789b68;

    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}

.terminal-symbol {
    color: #789b68;
    font-size: 25px;
}

.topbar nav {
    display: flex;
    gap: 28px;
}

.topbar a {
    color: #aaa995;
    text-decoration: none;

    font-size: 14px;
    letter-spacing: 1px;

    padding: 8px 4px;
}

.topbar a:hover {
    color: #d8a84e;
}

.layout {
    display: flex;
    flex:1;
    min-height: 600px;
}

.sidebar {
    width: 280px;
    flex-shrink: 0;
    padding: 28px 20px;
    background: #171a15;
    border-right: 2px solid #555746;
}
.sidebar-title {
    color: #d8a84e;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid #4a4c40;
    text-shadow: 0 0 2px #ebbe99;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin: 4px 0;
}

.sidebar a {
    display: block;
    padding: 10px 8px;
    color: #aaa995;
    text-decoration: none;
    font-size: 14px;

    text-shadow: 0 0 6px #789b68;
}

.sidebar a::before {
    content: "> ";
    color: #667d5b;
}

.sidebar a:hover {
    background: #20241d;
    color: #d8a84e;

    text-shadow: 0 0 9px #ebbe99, 0 0 25px #ebbe99;
}

.sidebar a:hover::before {
    color: #d8a84e;
}

.content {
    flex: 1;
    max-width: 1100px;
    padding: 60px 70px;
}

.hero {
    max-width: 850px;
    padding: 40px;
    background: #161914;
    border: 1px solid #4d5042;
    border-left: 4px solid #789b68;
    box-shadow: 5px 5px 0 #090909;
}
.hero-buttons {
    display: flex;
    gap: 14px;
    margin-top:30px;
}
.hero-buttons a {
    display: block;
    padding: 10px 8px;
    color: #aaa995;
    text-decoration: none;
    font-size: 14px;

    text-shadow: 0 0 3px #789b68;
}
.hero-buttons a:hover {
    background: #20241d;
    color: #d8a84e;
    
    text-shadow: 0 0 9px #ebbe99, 0 0 25px #ebbe99;
}

.hero-buttons a:hover::before {
    color: #d8a84e;
}
.hero h1 {
    margin: 0 0 18px;
    color: #d8d3b9;
    font-size: clamp(36px, 5vw, 64px);
    letter-spacing: 5px;
}
.hero p {
    color: #aaa995;
    line-height: 1.7;
}

.problems {
    margin-top: 50px;
}
.problems h2 {
    margin: 0 0 16px;
    color: #d8a84e;
    font-size: 16px;
    letter-spacing: 2px;
    text-shadow: 0 0 8px rgba(210, 190, 166, 0.5);
}
.problem-list {
    border-top: 1px solid #4d5042;
}
.problem {
    display: grid;
    grid-template-columns: 70px 1fr 100px;
    align-items: center;
    min-height: 58px;
    padding: 0 16px;
    background: #171a15;
    border-bottom: 1px solid #383b31;
    
    text-shadow: 0 0 4px #789b68;
}
.problem:hover {
    background: #20241d;
    text-shadow: 0 0 9px #ebbe99, 0 0 25px #ebbe99;
}
.problem-id {
    color: #667d5b;
    font-size: 13px;
}
.problem-name {
    color: #c9c6ae;
}
.problem-difficulty {
    text-align: right;
    color: #8f907e;
    font-size: 11px;
    letter-spacing: 1px;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 35px 60px 20px;
    background: #060b06;
    border-top: 2px solid #555746;
    color: #858676;
}
.foot-section {
    display:flex;
    flex-direction: column;
    gap:9px;
}
.foot-section h3 {
    margin: 0 0 8px;
    color: #d8a84e;
    font-size: 13px;
    letter-spacing: 2px;
}
.foot-section a {
    color: #858676;
    text-decoration: none;
    font-size: 13px;
}
.foot-section a:hover {
    color: #d8a84e;
}
.foot-bottom {
    grid-column: 1 / -1;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #303329;
    text-align: center;
    color: #5f6155;
    font-size: 11px;
    letter-spacing: 1px;
}

/* This is either going to kick ass or suck ass */

body::after {
    content: "";

    position: fixed;
    inset: 0;

    pointer-events: none;

    background: repeating-linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.015),
        rgba(255, 255, 255, 0.015) 1px,
        transparent 1px,
        transparent 4px
    );
}

@media (max-width: 800px) {

    .topbar {
        height: auto;

        flex-direction: column;
        align-items: flex-start;

        gap: 18px;

        padding: 20px;
    }

    .topbar nav {
        gap: 12px;
        flex-wrap: wrap;
    }

    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;

        border-right: none;
        border-bottom: 2px solid #555746;
    }

    .content {
        padding: 35px 20px;
    }

    .hero {
        padding: 25px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .hero-buttons a {
        text-align: center;
    }

    footer {
        grid-template-columns: 1fr;

        padding: 30px 25px 20px;
    }

    .footer-bottom {
        grid-column: auto;
    }
}


@media (max-width: 500px) {

    .problem {
        grid-template-columns: 50px 1fr;
        padding: 12px;
    }

    .problem-difficulty {
        display: none;
    }
}